* {
    margin: 0;
    padding: 0;
}

.gallery {
    margin: 0 auto;
    margin-top: 2rem;
    width: 80vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-gap: 2rem;

    img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

.imgModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    pointer-events: none;


    &.open {
        background: rgba(0, 0, 0, 0.8);
        opacity: 1;
        pointer-events: all;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        transform: translate(-50%, -50%);
    }

    .interface {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -5%);
        display: flex;
        justify-content: space-evenly;
        width: 30vw;

        .caption {
            color: white;
            font-size: 2rem;
        }

        button {
            width: 8rem;
            background: none;
            color: white;
            font-size: 1rem;
            cursor: pointer;

            &.disabled {
                cursor: not-allowed;
                color: grey;
            }
        }
    }
}